{
    "printWidth": 110,
    "semi": true,
    "singleQuote": false,
    "svelteStrictMode": true,
    "svelteIndentScriptAndStyle": true,
    "svelteAllowShorthand": true,
    "bracketSpacing": true,
    "svelteBracketNewLine": true,
    "useTabs": false,
    "trailingComma": "none",
    "tabWidth": 4,
    "plugins": ["prettier-plugin-svelte"],
    "experimentalTernaries": true,
    "svelteSortOrder": "scripts-markup-styles-options"
}
